@import '@/styles/config.scss';

.item {
    border-radius: 12px;
    padding: 15px;
    transition: 0.2s ease-in-out;
    display: flex;
    gap: 15px;
    border: 1px solid rgb(227, 227, 227);
    align-items: center;
    position: relative;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 7px;

        &__value_date {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &__name {
            font-size: 0.9em;
        }

        &__value {
            font-weight: 500;
        }

        &__date {
            font-size: 0.9em;
            opacity: 0.9;
        }
    }

    &__tier1 {
        border-right: 3px solid $color-user-tier-1;
    }

    &__tier2 {
        border-right: 3px solid $color-user-tier-2;
    }

    &__tier3 {
        border-right: 3px solid $color-user-tier-3;
    }
}

.badge {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 10px;
    color: $color-secondary;
    padding: 3px 5px;
    border-radius: 15px;

    &__tier1 {
        background-color: $color-user-tier-1;
    }

    &__tier2 {
        background-color: $color-user-tier-2;
    }

    &__tier3 {
        background-color: $color-user-tier-3;
    }
}