@import '@/styles/config.scss';

.button {
    width: 100%;
    padding: 10px 15px;
    color: $color-button-text;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: $color-button;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 0;

    &:hover {
        background-color: $color-button-hover;
    }
}