@import './variables.scss';

@mixin max-desktops {
    @media (min-width: $min-desktop) {
        @content;
    }
}

@mixin max-laptops {
    @media (max-width: $min-desktop) {
        @content;
    }
}

@mixin max-tablets {
    @media (max-width: $min-laptop) {
        @content;
    }
}

@mixin max-phones {
    @media (max-width: $max-phone) {
        @content;
    }
}

@mixin page-padding {
    padding: $padding-page-desktop;

    @include max-tablets() {
        padding: $padding-page-tablet
    }

    @include max-phones {
        padding: $padding-page-phone;
    }
}