// Colors

$color-main: #FFCCA4;
$color-primary: #FFFFFF;
$color-secondary: #484848;

// Media query breakpoints

$min-desktop: 1200px;
$min-laptop: 960px;
$min-tablet: 768px;
$max-phone: 600px;

// Paddings and margins

$padding-page-desktop: 70px 100px 70px 100px;
$padding-page-tablet: 40px 60px;
$padding-page-phone: 20px 15px;

$padding-block: 25px;
