// Colors

$color-main: #62EA0F;
$color-primary: #FFFFFF;
$color-secondary: #484848;
$color-progressbar: #B8FF8C;

$color-user-tier-1: #FF6556;
$color-user-tier-2: #FFBA56;
$color-user-tier-3: $color-main;

// Media query breakpoints

$min-desktop: 1200px;
$min-laptop: 960px;
$min-tablet: 768px;
$max-phone: 600px;

// Paddings and margins

$padding-page-desktop-x: 100px; 
$padding-page-tablet-x: 60px;
$padding-page-phone-x: 15px;
$padding-page-desktop: 15px $padding-page-desktop-x;
$padding-page-tablet: 10px $padding-page-tablet-x;
$padding-page-phone: 0 $padding-page-phone-x;


$padding-block: 25px;
